body {
  background-color:blue;
  font-family: sans-serif;
  }
h1 {
    font-size: 90px;
    position: absolute;
    left: 500px;
}

p{
  font size: 100px;
  position:absolute;
}

.title {
  background-color: pink;
  border: 3px solid black;
  border-radius: 10px;
}
